# Archivos específicos del usuario de Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates

# Carpeta de caché de Visual Studio. ¡Esta es la que causa tu error!
.vs/

# Carpetas de compilación
[Bb]in/
[Oo]bj/

# Otros
*.pyc
*.pyo
*.pyd